<app-navbar></app-navbar>
<section class="section mx-auto p-3" id="contact">
  <div class="top-header text-center">
    <h1>Let's Work Together</h1>
    <span class="fs-5">Do you have a Project in your Mind</span>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="contact-info">
        <h2>Find Us <i class="fa fa-level-down"></i></h2>
        <p>
          <i class="fa-solid fa fa-envelope"></i>Email :
          <a
            href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcRwRrrqTCnqQfcdqWXQrmtQdfzsXSkXhNdRDCkSCjRnVjJqmGvRsHRgFQpRnpfMWcCFGDbKk"
            target="_mail"
            >lakhepuza924mail.com</a
          >
        </p>
        <p>
          <i class="fa fa-mobile fs-3"></i>PhoneNo :<a href="tel:9840256088"
            >9840256088/</a
          >
        </p>
      </div>
    </div>
    <div class="col">
      <div class="form-control">
        <div class="form-input">
          <input type="text" class="input-field" placeholder="Your Name" />
          <input type="text" class="input-field" placeholder="Your Email" />
        </div>
        <div class="text-area">
          <input type="text" class="input-subject" placeholder="Subject" />
          <textarea placeholder="Message"></textarea>
        </div>
        <div class="form-button">
          <button class="btn">Submit <i class="fa fa-paper-plane"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>
