<!-- Fullscreen loading overlay -->
<div *ngIf="isloading" class="loading-overlay">
  <div class="loading-spinner">
    <!-- You can use any spinner or loading animation here -->
    <i class="fa fa-spinner fa-spin"></i>
  </div>
</div>
<!-- content -->
<div class="container">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title text-center">Register Now</h1>
      <h4 class="sub-title text-center semi-bold-sm">
        Unlock your potential with the right course
      </h4>
      <form
        class="mb-3"
        [formGroup]="registerForm"
        (ngSubmit)="processRegistration()"
      >
        <div class="mb-2">
          <label for="fname" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="fname"
            placeholder="First Name"
            formControlName="first_name"
          />
          <p
            class="error-msg font-normal mt-2"
            *ngIf="
              registerForm.controls['first_name'].invalid &&
              registerForm.controls['first_name'].touched
            "
          >
            Enter your first name.
          </p>
        </div>
        <div class="mb-2">
          <label for="lname" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lname"
            placeholder="Last Name"
            formControlName="last_name"
          />
          <p
            class="error-msg font-normal mt-2"
            *ngIf="
              registerForm.controls['last_name'].invalid &&
              registerForm.controls['last_name'].touched
            "
          >
            Enter your last name.
          </p>
        </div>
        <div class="mb-2">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Email address"
            formControlName="email"
          />
          <div
            class="error-msg font-normal mt-2"
            *ngIf="
              registerForm.controls['email'].invalid &&
              registerForm.controls['email'].touched
            "
          >
            <p *ngIf="registerForm.controls['email'].errors?.['email']">
              Email is invalid.Please Enter the valid email
            </p>
            <p *ngIf="registerForm.controls['email'].errors?.['required']">
              Email Field can not be empty.
            </p>
          </div>
        </div>
        <div class="mb-2">
          <label for="phone" class="form-label">Phone Number</label>
          <input
            type="text"
            class="form-control"
            id="phone_no"
            placeholder="+977 XXXXXXXXXX"
            formControlName="phone_number"
          />
          <div
            class="error-msg font-normal"
            *ngIf="
              registerForm.controls['phone_number'].invalid &&
              registerForm.controls['phone_number'].touched
            "
          >
            <p
              *ngIf="registerForm.controls['phone_number'].errors?.['required']"
            >
              Phone number Field cannot be empty.
            </p>
            <p
              *ngIf="registerForm.controls['phone_number'].errors?.['minlength']"
            >
              Phone number must be exactly 10 digits long.
            </p>
            <p
              *ngIf="registerForm.controls['phone_number'].errors?.['maxlength']"
            >
              Phone number must be exactly 10 digits long.
            </p>
          </div>
        </div>

        <label for="password" class="form-label">Password</label>
        <div class="position-relative">
          <input
            [type]="hidePassword ? 'password' : 'text'"
            class="form-control"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
          <i
            class="fa eye"
            [ngClass]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"
            (click)="showPassword()"
          ></i>
        </div>
        <div
          class="error-msg font-normal mt-2"
          *ngIf="
            registerForm.controls['password'].invalid &&
            registerForm.controls['password'].touched
          "
        >
          <p *ngIf="registerForm.controls['password'].errors?.['required']">
            Password Field can not be empty.
          </p>
          <p
            *ngIf="
             registerForm.controls['password'].errors?.['minlength']
            "
          >
            Password must be at least eight characters long.
          </p>
        </div>
        <button class="mt-3 btn w-100 text-center" type="submit">
          REGISTER
        </button>
      </form>
      <div
        class="d-flex felx-row align-items-center justify-content-center mt-2"
      >
        <p class="font-normal que-text px-2">Already Have An Account?</p>
        <p class="font-normal register" (click)="navigateTo()">Login Here</p>
      </div>
    </div>
  </div>
</div>
