.container {
  margin-top: var(--margin-sm);
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  .card {
    background-color: #f5f5f5;
    .card-body {
      .card-title {
        color: var(--color-label);
        padding-bottom: var(--padding-m);
      }
      .sub-title {
        color: var(--color-accent-linear-gradient-two);
        padding-bottom: var(--padding-xs);
      }
      input::placeholder {
        color: var(--color-grayscale-input);
      }
      .eye {
        position: absolute;
        right: var(--padding-lm);
        top: 52%;
        color: var(--color-headers-weak);
        transform: translateY(-50%);
        cursor: pointer;
        font-size: var(--font-display-m);
      }
      .btn {
        color: var(--color-text-white);
        background-color: var(--color-label);
        padding-left: var(--padding-l);
        padding-right: var(--padding-l);
        padding-top: var(--padding-lm);
        padding-bottom: var(--padding-lm);
      }
      .outro-text {
        color: var(--color-grayscale-input);
        padding-left: var(--padding-l);
        padding-right: var(--padding-l);
      }
      .que-text {
        color: var(--color-text-light);
      }
      .register {
        color: var(--color-label);
        cursor: pointer;
      }
    }
  }
}
