<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Contact Info -->
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div class="footer-logo">
          <img src="path_to_logo.png" alt="CourseMate" />
        </div>
        <p class="footer-description">
          Welcome to our website. We provide you with the best online courses
          and ensure quality education for everyone.
        </p>
        <div class="footer-social">
          <a href="#" class="social-icon"><i class="fa fa-facebook-f"></i></a>
          <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
          <a href="#" class="social-icon"
            ><i class="fa fa-linkedin-square"></i
          ></a>
          <a href="#" class="social-icon"><i class="fa fa-instagram"></i></a>
        </div>
      </div>

      <!-- Our Services -->
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h3 class="footer-heading">Our Services</h3>
        <ul class="footer-links">
          <li><a href="#">Web Development</a></li>
          <li><a href="#">Business Development</a></li>
          <li><a href="#">Management</a></li>
          <li><a href="#">Digital Marketing</a></li>
          <li><a href="#">Why We Are</a></li>
        </ul>
      </div>

      <!-- Subscribe -->
      <div class="col-lg-4 col-md-6">
        <h3 class="footer-heading">Subscribe</h3>
        <div class="footer-contact mb-3">
          <p><i class="fa fa-map-marker"></i> Dhudpati,Bhaktapur</p>
          <p><i class="fa fa-phone"></i> 01-5122082</p>
          <p><i class="fa fa-envelope"></i> infocoursemate&#64;gmail.com</p>
        </div>
        <form class="subscribe-form">
          <input
            type="email"
            class="subscribe-input"
            placeholder="Enter email"
          />
          <button type="submit" class="subscribe-btn">Subscribe</button>
        </form>
      </div>
    </div>

    <!-- Copyright -->
    <div class="copyright">
      Copyright © 2024 <a href="#">CourseMate</a> | All Rights Reserved
    </div>
  </div>
</footer>
