<nav class="navbar navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">CourseMate</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse align-items-center text-center"
      id="navbarNav"
    >
      <ul class="navbar-nav m-auto mb-lg-0 gap-4">
        <li class="nav-item" *ngFor="let link of links">
          <a
            class="nav-link"
            [routerLink]="'/' + link"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >{{ link | titlecase }}</a
          >
        </li>
      </ul>
    </div>
    <div class="nav-item d-flex align-items-center">
      <app-user-profile></app-user-profile>
    </div>
  </div>
</nav>
