<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">CourseMate</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse align-items-center text-center"
      id="navbarNav"
    >
      <ul class="navbar-nav m-auto mb-2 mb-lg-0 gap-4">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >About</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/course"
            routerLinkActive="active"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            role="button"
          >
            Courses
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contact"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Contact</a
          >
        </li>
      </ul>
      <div
        class="d-inline-flex flex-column flex-md-row gap-2 align-items-md-center justify-content-md-center mt-lg-0 mt-3"
      >
        <!-- Login Link -->
        <a
          class="login-link semi-bold-l text-center"
          routerLink="/login"
          routerLinkActive="active"
          *ngIf="!isAuthenticated"
        >
          Login
        </a>
        <!-- Logout link -->
        <btn
          class="btn semi-bold-l text-center"
          routerLink="/login"
          routerLinkActive="active"
          *ngIf="isAuthenticated"
          (click)="logout()"
        >
          Logout
        </btn>

        <!-- Register Button -->
        <button
          class="btn semi-bold-m px-3 py-2 mt-md-0 mt-2 d-flex align-items-center justify-content-center"
          routerLink="/register"
          *ngIf="!isAuthenticated"
        >
          Create an account
          <i class="fa fa-arrow-right px-1 fs-5" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
