<app-header
  [title]="'Course Details'"
  [links]="['home', 'courses']"
></app-header>
<app-loader *ngIf="isLoading"></app-loader>

<div class="container my-5">
  <!-- Error State -->
  <div class="alert alert-danger" *ngIf="error">
    {{ error }}
  </div>
  <div class="row" *ngIf="!isLoading && !error && courseDetail">
    <div class="col-lg-8">
      <img
        src="assets/images/java.jpg"
        alt="Course Image"
        class="course-image mb-4"
      />
      <h2 class="course-title">{{ courseDetail[0].name }}</h2>
      <div class="course-meta d-flex align-items-center mb-4">
        <div class="rating me-3">
          <ng-container *ngFor="let star of starsArray(courseDetail[0].rating)">
            <i class="fa" [ngClass]="star"></i>
          </ng-container>
          <span class="ms-1">{{ courseDetail[0].rating + "k" }}</span>
        </div>
        <span class="me-3"><i class="fa fa-users me-2"></i>Students 20+</span>
        <span><i class="fa fa-clock-o me-2"></i>Updated 01.01.24</span>
      </div>

      <div class="tab-content" id="courseTabContent">
        <div class="tab-pane fade show active" id="overview">
          <h4>COURSE DESCRIPTION</h4>
          <p class="course-description">
            {{ courseDetail[0].description }}
          </p>
          <h3>Get Started</h3>
          <a [href]="courseDetail[0].url" target="_blank">{{
            courseDetail[0].url
          }}</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="course-info-card">
        <div class="info-item">
          <span>University</span>
          <span>{{ courseDetail[0].university }}</span>
        </div>
        <div class="info-item">
          <span>Duration</span>
          <span>12 Weeks</span>
        </div>
        <div class="info-item">
          <span>Skill Level</span>
          <span>{{ courseDetail[0].difficulty }}</span>
        </div>
        <div class="info-item">
          <span>Rating</span>
          <span>{{ courseDetail[0].rating + "k" }}</span>
        </div>
        <div class="info-item">
          <span>Enrollment</span>
          <span>20 Students</span>
        </div>

        <div class="info-item">
          <span>Rate this course</span>
          <app-star-rating
            (onRating)="onRatingChanged($event)"
          ></app-star-rating>
        </div>
      </div>
    </div>
  </div>
</div>
