.top-badge {
  background-color: #f3f0ff;
  color: #6c47ff;
  border-radius: 20px;
  display: inline-block;
  font-size: 14px;
}

.load-more {
  background-color: var(--color-line);
  padding: 10px 30px;
  border-radius: 25px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.course-title {
  color: var(--color-text-dark);
  font-size: 40px; /* 2.5rem = 40px */
  font-weight: bold;
  margin-bottom: 30px;
}
