<app-header [title]="'Course'" [links]="['home', 'contact']"></app-header>
<app-loader *ngIf="isLoading"></app-loader>
<!-- searchbar -->
<app-search-bar></app-search-bar>
<!-- wind surf -->
<div class="container mb-5">
  <div class="text-center mb-5">
    <div class="top-badge">POPULAR COURSE</div>
    <h1 class="course-title">
      Top Courses In Demand Right Now<br /><span class="special-txt"
        >Start Your Journey Today</span
      >
    </h1>
    <div class="text-end">
      <a href="#" class="load-more">
        Load More Course
        <i class="fa fa-arrow-right"></i>
      </a>
    </div>
  </div>
</div>

<!-- //course-card -->
<app-course-card
  *ngIf="!isLoading"
  [courses]="popularCourses"
></app-course-card>
<app-footer></app-footer>
