<app-navbar></app-navbar>
<!-- landing page -->
<div class="container-fluid">
  <div class="row">
    <div class="col text-container my-auto text-center">
      <h6 class="semi-bold-l text mt-2">
        Welcome to <span class="special-txt text-l">Course Mate</span>
      </h6>
      <h1 class="heading">Achieving Your Dreams Through Education</h1>
      <p class="semi-bold-l text">
        We can help you find the best resource that align your
        <span class="special-txt text-l">Destination</span>
      </p>

      <app-search-bar></app-search-bar>
    </div>

    <div class="col img-container mt-lg-3">
      <img
        src="assets/images/homepage1.png"
        alt="Homepage Image"
        class="home-img"
      />
    </div>
  </div>
</div>
<!-- Course Categories -->
<div class="container text-center mt-3 pt-3 mb-5">
  <div class="row text-center">
    <h5 class="text-l category-title mb-5">Browser By Categories</h5>
  </div>
  <div class="row px-5 g-3 justify-content-center">
    <div
      class="col-3 m-3 px-2 py-2"
      *ngFor="let course_category of courseCategories; let i = index"
      [ngStyle]="{ 'background-color': getBackgroundColor(i) }"
    >
      <section class="d-flex align-items-center">
        <img
          [src]="course_category.course_img"
          alt="{{ course_category.course_name }} Image"
          class="course-img mt-2 px-2"
        />
        <span class="px-1 semi-bold-sm">{{ course_category.course_name }}</span>
      </section>
    </div>
  </div>
</div>
<app-footer></app-footer>
