.row {
  .text-container {
    padding-left: var(--padding-xxl);
    .text {
      color: var(--color-primary);
    }
    .heading {
      color: var(--color-grayscale-body-weak);
      font-size: 66px;
    }
  }
  .img-container {
    align-items: center;
    .home-img {
      width: 498px;
      height: 450px;
      object-fit: contain;
      float: right;
      border: 2px solid var(--color-btn-dark);
    }
  }

  // course category

  .category-title {
    color: var(--color-placeholder);
  }
  .col-3 {
    border-radius: 8px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: normal;
    .course-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: contain;
    }
  }
}
