<app-navbar></app-navbar>
<!-- <div class="search-container mt-4">
  <form
    class="d-flex align-items-center justify-content-center gap-2"
    role="search"
  >
    <input
      class="search-input"
      type="search"
      placeholder="Search For Courses"
      aria-label="Search"
    />
    <button class="btn" type="submit">Search</button>
  </form>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col text-container my-auto text-center">
      <h6 class="semi-bold-l text mt-2">
        Welcome to <span class="special-txt text-l">Course Mate</span>
      </h6>
      <h1 class="heading">Achieving Your Dreams Through Education</h1>
      <p class="semi-bold-l text">
        We can help you find the best resource that align your
        <span class="special-txt text-l">Destination</span>
      </p>

      <button class="btn mb-3 mb-lg-0 semi-bold-l">
        Find Courses
        <i class="fa fa-arrow-right px-2 fs-3"></i>
      </button>
    </div>

    <div class="col img-container mt-lg-5">
      <img
        src="assets/images/homepage1.png"
        alt="Homepage Image"
        class="home-img"
      />
    </div>
  </div>
</div>
