.search-container {
  position: relative;

  .fa-search {
    position: absolute;
    z-index: 1;
  }

  .search-input {
    border: 2px solid var(--color-line);
    border-radius: 8px;
    padding: 6px 10px;
    width: 500px;
    outline: none;
  }
  input::placeholder {
    color: var(
      --color-placeholder
    ); /* Change the color of the placeholder text */
    background: var(--color-secondary-bg);
    font-style: italic; /* Change the font style of the placeholder */
    font-size: var(--font-text-m); /* Set the font size */
  }
  .btn {
    border: 2px solid var(--color-line);
    border-radius: 8px;
    padding: 4px 8px;

    &:hover {
      background-color: var(--color-line);
      color: var(--color-text-white);
    }
  }
}
.row {
  .text-container {
    padding-left: var(--padding-xxl);
    .text {
      color: var(--color-primary);
    }
    .heading {
      color: var(--color-grayscale-body-weak);
      font-style: bold;
      font-size: 66px;
    }
    .special-txt {
      color: var(--color-text-special);
    }
    .btn {
      background-color: var(--color-btn-dark);
      color: var(--color-text-white);
      padding: 10px 16px;
      border-radius: 24px;
      border: 1px solid transparent; /* To ensure no extra borders */
      transition: all 0.3s ease; /* Smooth transition */
      cursor: pointer; /* Pointer cursor on hover */
      display: inline-flex; /* Use flexbox for alignment */
      align-items: center; /* Vertically center align the items */
      justify-content: center; /* Center align the text and icon horizontally */
      gap: var(--gap-sm); /* Add space between the text and the icon */
      &:hover {
        background-color: var(
          --color-primary-bg
        ); /* Lighter shade of the button color */
        color: var(--color-text-dark); /* Darker shade for text */
        box-shadow: var(--box-shadow-1); /* Subtle shadow effect */
        transform: translateY(-2px); /* Slight lift effect */
      }
    }
  }
  .img-container {
    align-items: center;
    .home-img {
      width: 498px;
      height: 450px;
      object-fit: contain;
      float: right;
      border: 2px solid var(--color-btn-dark);
    }
  }
}
