<app-header
  [title]="'Search Results'"
  [links]="['home', 'courses']"
></app-header>
<h4 *ngIf="searchedInput" class="special-text semi-bold-m text-center py-3">
  You searched for: <span class="special-txt">{{ searchedInput }}</span>
</h4>

<app-search-bar
  [placeholderVal]="'Search  for other courses...'"
></app-search-bar>

<section class="container-fluid">
  <!-- Left side filter button -->
  <div class="filter-button" (click)="openFilters()">
    <i class="fa fa-sliders" aria-hidden="true"></i>
    Customize your Search
  </div>

  <!-- Right side navigation buttons -->
  <div class="d-flex gap-2 justify-content-end">
    <button
      class="load-more"
      *ngIf="previousPageUrl && !isLoading"
      (click)="fetchCourses(previousPageUrl)"
    >
      <i class="fa fa-arrow-left"></i> Previous
    </button>

    <button
      class="load-more"
      *ngIf="nextPageUrl && !isLoading"
      (click)="fetchCourses(nextPageUrl)"
    >
      Next <i class="fa fa-arrow-right"></i>
    </button>
  </div>

  <app-filter-modal (close)="onFilterClose()" #filterModal></app-filter-modal>
</section>
<app-loader *ngIf="isLoading"></app-loader>

<!-- Your search results here -->
<div *ngIf="courseLists.length > 0">
  <app-course-card [courses]="courseLists"></app-course-card>
</div>

<!-- No Results Found State -->
<div class="no-results-container mt-2" *ngIf="!isDataFound">
  <div class="no-results-container">
    <div class="no-results-content">
      <i class="fa fa-search-minus no-results-icon"></i>
      <h3>No Results Found</h3>
      <p>We couldn't find any courses matching "{{ searchedInput }}"</p>
      <div class="suggestions">
        <h4>Suggestions:</h4>
        <ul>
          <li>Check your spelling</li>
          <li>Try different keywords</li>
          <li>Try more general keywords</li>
          <li>Remove filters</li>
        </ul>
      </div>
    </div>
  </div>
</div>
