<app-loader *ngIf="isLoading"></app-loader>
<!-- content -->
<div class="container">
  <div class="card">
    <div class="card-body p-3">
      <h1 class="card-title text-center">LOGIN</h1>
      <h4 class="sub-title text-center semi-bold-sm">
        From Basics to Mastery – Find Your Ideal Path.
      </h4>
      <form class="mb-4" [formGroup]="loginForm" (ngSubmit)="processLogin()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Email address"
            formControlName="email"
          />
          <div
            class="error-msg font-normal mt-2"
            *ngIf="
              loginForm.controls['email'].invalid &&
              loginForm.controls['email'].touched
            "
          >
            <p *ngIf="loginForm.controls['email'].errors?.['email']">
              Email is invalid.Please Enter the valid email
            </p>
            <p *ngIf="loginForm.controls['email'].errors?.['required']">
              Email Field can not be empty.
            </p>
          </div>
        </div>
        <label for="password" class="form-label">Password</label>
        <div class="position-relative">
          <input
            [type]="hidePassword ? 'password' : 'text'"
            class="form-control"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
          <i
            class="fa eye"
            [ngClass]="hidePassword ? ' fa fa-eye-slash' : 'fa fa-eye'"
            (click)="showPassword()"
          ></i>
        </div>
        <div
          class="error-msg font-normal mt-2"
          *ngIf="
            loginForm.controls['password'].invalid &&
            loginForm.controls['password'].touched
          "
        >
          <p *ngIf="loginForm.controls['password'].errors?.['required']">
            Password Field can not be empty.
          </p>
          <p
            *ngIf="
             loginForm.controls['password'].errors?.['minlength']
            "
          >
            Password must be at least eight characters long.
          </p>
        </div>
        <button class="mt-2 btn w-100 text-center" type="submit">LOGIN</button>
      </form>
      <div
        class="d-flex felx-row align-items-center justify-content-center mt-2"
      >
        <p class="font-normal que-text px-2">Don't Have an account?</p>
        <p class="font-normal register" (click)="navigateTo()">Register Here</p>
      </div>
    </div>
  </div>
</div>
